.poll-module {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    width: 500px;
}

.poll-module h1 {
    margin-bottom: 10px;
}

.poll-module > .button-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}