.poll-module {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}

.poll-module h1 {
    margin-bottom: 10px;
}

.poll-module > .button-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}